{
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "printWidth": 100,
    "semi": true,
    "singleQuote": true,
    "svelteStrictMode": false,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": true,
    "svelteIndentScriptAndStyle": true
  }
  