@import 'tailwindcss';
@config "../tailwind.config.ts";

:root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: Inter, sans-serif;
  }
}

/* Safari-compatible scrollbar */
*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #222630; /* Much more visible */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #222630;
}

